<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Girls blog</title>
</head>
<body>
<div>
    <h1><a href="/">Django Girls blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>Publish: {{ post.published_date }}, By: {{ post.author }}</p>
        <h1><a href="/">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html>